* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f6f4f6;
  padding: 30px;
}

.container {
  max-width: 1300px;
  margin: auto;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #d14a4a;
}

.search-bar {
  width: 40%;
  padding: 14px;
  border: none;
  border-radius: 30px;
  background: #f4f4f4;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: transparent;
}

.create {
  background: #ff4d5a;
  color: white;
}
.createPage {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid gray;
  height: 60vh;
  width: 75%;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
}
.createPage.active {
  display: block;
}
/* Hero */
.hero {
  height: 200px;
  background: linear-gradient(to right, #fff7f2, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/aesthetic-food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 42px;
  font-weight: bold;
  color: white;
  font-variant: small-caps;
}

/* Filters */
.filters {
  display: flex;
  gap: 15px;
  padding: 25px 40px;
}

.filter {
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #f0f0f0;
}

.filter.active {
  background: #ff4d5a;
  color: white;
}

/* Content */
.content {
  display: flex;
  gap: 30px;
  padding: 0 40px 40px;
}

/* Recipe grid */
.recipes {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 50vh;
  overflow-y: auto;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.06);
  height: 20vh;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  padding: 15px 15px 5px;
}

.card p {
  padding: 0 15px 15px;
  color: gray;
}

/* Sidebar */
.sidebar {
  flex: 1;
}

.box {
  background: #fafafa;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.box h3 {
  margin-bottom: 15px;
}

.box ul {
  list-style: none;
}

.box li {
  padding: 8px 0;
  color: #555;
}
